[Unit]
Description=Eagle-TRT proxy URL share script

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/eagletrt-telemetria-ip/client/client.sh

[Install]
WantedBy=multi-user.target
